@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-Black.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-BlackItalic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Rubik";
    src: url("font/static/Rubik-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
